@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap');

.AntonE {
    --padding: 4em;

    background-color: rgb(0, 98, 255);
    color: #fff;
    padding: var(--padding);
}

.AntonE h1, h2, h3, h4, h5, h6, p {
    font-family: 'Comfortaa';
}

.AntonE-pseudoSection {
    width: 100%;
    display: flex;
}

    .AntonE__text p{
        overflow-y: auto;
    }

    .AntonE__photo {
        padding: .5em;
        height: 100%;
    }

        .AntonE__photo > img{
            max-width: 40vw ;
        }